<!Doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="style/style.css" type="text/css" />
		<title> %institution_name% - Move Forward Width your education </title>
	</head>
	<body>
		<div id="wrap">
		
			<div id="header">
				
				<div id="menu">
					<div class="menu_item separated"><a href="#">Home Page   </a></div>
					<div class="menu_item separated"><a href="#">About		   </a></div>
					<div class="menu_item separated"><a href="#">Free Time    </a></div>
					<div class="menu_item separated"><a href="#">Student Works</a></div>
					<div class="menu_item separated"><a href="#">Contacts     </a></div>
					<div class="menu_item separated" style="border: none"><a href="#">Site Map     </a></div>
				</div>
				
				<div id="logo" >				
					<div id="students_site" class="separated">
						<span id="students">
							STUDENT`S
						</span>
						<br />
						<span id="site">
							SITE
						</span>												
					</div>
					<div id="slogan">
						<span id="move_forward" style="color: #cfcfcf;" >
							MOVE FORWARD
						</span>
						<br />
						<span id="with_your_education" >
							WITH YOUR EDUCATION
						</span>
					</div>					
				</div>				
			</div>
			<div id="main">
				<div id="left">
					<span>Categories</span>
					<ul id="categories">
						<li><a href="#">Programs</a></li>
						<li><a href="#">Student Info</a></li>
						<li><a href="#">Teachers</a></li>
						<li><a href="#">Descriptions</a></li>
						<li><a href="#">Administrators</a></li>
						<li><a href="#">Basic Information</a></li>
						<li><a href="#">Calendar</a></li>
					</ul>
					<div id="newsletter">
						Newsletter
					</div>
					<div id="freshnews">
						<span style="size: 10px; color: #4E4848;">FRESH</span>
						<span style="size: 10px; color: gray;">NEWS</span>
						<div class="news_item" style="margin-top: 5px;">
							<span class="news_date">date of news</span><br/>
							<span class="news_headline">Sensation</span>
							<br/>
							<span class="news_text">Sensation</span>
						</div>
						<div class="news_item">
							<span class="news_date">date of news</span><br/>
							<span class="news_headline">Sensation</span>
							<br/>
							Sensation1 wasnt sensation
						</div>
						<div class="news_item">
							<span class="news_date">date of news</span><br/>
							<span class="news_headline">Sensation</span>
							<br/>
							Really sensation
						</div>
					</div>
				</div>
				<div id="main_part">
					<div>
						<img src="images/profesional_online_education.jpg" id="main_image" />
					</div>
					<div id="about_team">
						<div>						
							<span style="size: 10px; color: #4E4848;">ABOUT</span>
							<span style="size: 10px; color: gray;">TEAM</span>
						</div>
						<div class="team_member" style="margin-left: 0;">
							<img src="images/team_member_1.jpg" class="member_photo"/>
							<br />
							<span class="member_description">
								<span class="member_name">Team Member One</span><br />
								He is the most important member in out team. Usually this is the person who started website.
							</span>
						</div>
						<div class="team_member">
							<img src="images/team_member_2.jpg" class="member_photo"/>
							<br />
							<span class="member_description">
								<span class="member_name">Team Member 2</span> <br />
								We are completely lost on what he's responsible, but we hope you'll now it
							</span>
						</div>
						<div class="team_member">
							<img src="images/team_member_3.jpg" class="member_photo"/>
							<br />
							<span class="member_description">
								<span class="member_name">Team Member One</span><br />
								He is the most important member in out team. Usually this is the person who started website.
							</span>
						</div>
					</div>
					<div id="about_website">
						<div>
							<span style="size: 10px; color: #4E4848;">ABOUT</span>
							<span style="size: 10px; color: gray;">WEBSITE</span>
						</div>
						<div id="article">
							<div style="float: left;">
								<span id="img" ><img src="images/about.jpg" class="member_photo" /></span>
							</div>
							<div id="right_article">
								<span class="firstWords">No in he real went </span> find mr. Wandered or strictly raillery stanhill as. Jennings appetite disposed me an at subjects an. To no indulgence diminution so discovered mr apartments. Are off under folly death wrote cause her way spite. Plan upon yet way get cold spot its week. 
							</div>
							<div id="bottom_article">
								<span class="firstWords">Why end might ask civil </span> again spoil. She dinner she our horses depend. Remember at children by reserved to vicinity. In affronting unreserved delightful simplicity ye. Law own advantage furniture continual sweetness bed agreeable perpetual. Oh song well four only head busy it. Afford son she had lively living. Tastes lovers myself too formal season our valley boy. Lived it their their walls might to by young. 
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="foot">
				<div id="counter">
					<img src="images/counter.gif" />
				</div>
				<div id="contackts">
					Made by MonsterTemplate.com<br/>
					Copyright &copy;
				</div>
			</div>
		</div>
	</body>
</html>