<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" href="style/style.css" type="text/css" />
	</head>
	<body>
		<div id="wrap">
		
			<div id="header">
				
				<div id="menu">
					<div class="menu_item separated"><a>About		   </a></div>
					<div class="menu_item separated"><a>Free Time    </a></div>
					<div class="menu_item separated"><a>Student Works</a></div>
					<div class="menu_item separated"><a>Contacts     </a></div>
					<div class="menu_item separated" style="border: none"><a>Site Map     </a></div>
				</div>
				
				<div id="logo" >
				
					<div id="students_site">
						<span id="students" class="separated">
							STUDENT`S
						</span>
						<br />
						<span id="site">
							SITE
						</span>												
					</div>
					<div id="slogan">
						<span id="move_forward" style="color: #cfcfcf;" >
							MOVE FORWARD
						</span>
						<br />
						<span id="with_your_education" >
							WITH YOUR EDUCATION
						</span>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</body>
</html>