body{
	background: gray;
}

div{
	position: absolute;
	top: 46%;
	left: 49%;
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border-style: solid;
	text-align: center;
	line-height: 100px;
}

#sun{
	background: yellow;
}
#venus{
	background: green;
}
#earth{
	background: blue;
}
#moon{ background: silver; }
#mars{ background: red; }


div div{
	width: 50%;
	height: 50%;
	position: absolute;
	line-height: 50%;
}