nav{
	float: left;
}

nav ul  ul {
	display: none;
}

li{	
	width: 100px;
	height: 20px;
	color: red;
	text-align: center;	
}

nav ul li ul li{
	margin-left: 50px;
}

nav ul li:hover > ul{	
	display: block;
}

#a #b #c a{
	color: blue;
}